body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

img{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header{
    
}

.backcolor{
    background-color: rgb(236, 236, 236);
    padding-top: 50px;
    padding-bottom: 150px;
}

#frontcolor{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white; 
    padding-bottom: 30px;
}

#buttons{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    
}

#buttontask {
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 10%;
    font-size: 20px;
}

#buttonsection{
    background-color: rgb(255, 255, 255);
    color: rgb(155, 155, 155);
    border-radius: 10%;
    font-size: 20px;
}

#page{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}


h2{
    margin-bottom: 5px;
    padding-top: 20px;
}

.elements{
    font-size: 20px;
}

.Editorials{
    background-color: rgb(0, 132, 255);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

.Q1{
    background-color: rgb(119, 0, 155);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

.Recruiting{
    background-color: rgb(0, 155, 96);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

.Mobile{
    background-color: rgb(224, 108, 0);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

.Website{
    background-color: rgb(224, 0, 123);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

.Sales{
    background-color: rgb(49, 156, 0);
    padding: 6px;
    border-radius: 30%;
    color: white;
}

footer{
    background-color: black;
}