:root{
    --backcolor: #f6f8f9;
    --buttontask: #47adf1;
    --buttonsection: #ccd1d5;
    --editorial: #45abe9;
    --Q1: #9c72e4;
    --Recruiting: #64c0a9;
    --Mobile: #f29e33;
    --Website: #d863a0;
    --Sales: #b0c926;
    --check: #66c0aa;
    --cross: #eb5952;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

img{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header{
    
}

.backcolor{
    background-color: var(--backcolor);
    padding-top: 50px;
    padding-bottom: 110px;
}

#frontcolor{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white; 
    padding-bottom: 30px;
}

.buttons{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    
}

#buttontask {
    width: 95px;
    height: 35px;
    background-color: var(--buttontask);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    border-color: var(--buttontask);
    border-style: none;
}

#buttonsection{
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: var(--buttonsection);
    border-radius: 10px;
    font-size: 14px;
    border-style: none;
    border: solid 1px var(--buttonsection);
}

#page{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}


h2{
    margin-bottom: 5px;
    padding-top: 20px;
    
}

.elements{
    font-size: 20px;
}

.Editorials{
    background-color: var(--editorial);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}

.Q1{
    background-color: var(--Q1);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}

.Recruiting{
    background-color: var(--Recruiting);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}

.Mobile{
    background-color: var(--Mobile);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}

.Website{
    background-color: var(--Website);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}

.Sales{
    background-color: var(--Sales);
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
    color: white;
    font-size: 13px;
}


#first-h2{
    padding-top: 10px;
    margin-top: 0px;
}

.done{
    padding: 2px 4px 2px 4px;
    margin: 0px 3px 0px 3px;
    color: var(--check);
    border: 1px solid var(--check);
    font-size: 12px;
    border-radius: 50%;
}

.undone{
    padding: 2px 4px 2px 4px;
    margin: 0px 3px 0px 3px;
    color: var(--cross);
    border: 1px solid var(--cross);
    font-size: 12px;
    border-radius: 50%;
}

p{
    margin: 6px 0px 26px 0px;
}

.arrow{ 
    font-size: 20px;
    display: inline-block;
    transform: scaleY(0.5);
    vertical-align: bottom;
}